@charset 'utf-8';

:root {
	--main-color : #aaa5e5;
	--sub-color : #aae4c5;
	--text-color : #fff;
}
body,html {
	color :var(--text-color);
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}
body {
	background-size:50px;
	font-family:"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Noto sans Japanese", Meiryo;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
* {
	box-sizing:border-box;
}
.text-white {
	color:#fff;
}
strong.approach {
	font-weight: bold;
}
.mb-1 {
	margin-bottom: 1rem;
}
.dt {
	display: table;
}
[class*=dtc] {
	display: table-cell;
}
.dtc-middle {
	vertical-align: middle;
}
@-webkit-keyframes effect-animation {
    from {
      -webkit-transform: scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(100);
      opacity: 0.0;
    }
}
.btn {
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 2px 2px 0 #fff, 3px 3px 0 #000;
	border-radius: 4px;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	overflow: hidden;
	padding: .8rem 2rem;
	position: relative;
	text-decoration: none;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
	.btn span {
		background-color:rgba(180,180,180,0.5);
		display: block;
		border-radius:50%;
		width: 50px;
		height: 50px;
		margin-left: -25px;
		margin-top: -25px;
		position:absolute;
		-webkit-animation: effect-animation 2s;
	}
	.btn:hover {
		background-color:#000;
		box-shadow:0 0 0 #000;
		color:#fff;
	}
li.layer {
	height:100%;
	width:100%;
}
li.layer.conpact {
	height:0;
	width:0;
}

#scene {
	height:100%;
	overflow: hidden;
	position:relative;
	width:100%;
}
#top-back {
	background-image:url('../img/mp-06.png');
	display: block;
	height:120%;
	left:-8%;
	position:fixed;
	top:-10%;
	width:125%;
}
#top-logo {
	left: 50%;
	margin-left: -250px;
	position: absolute;
	top: 20%;
	width: 500px;
}
.top-catchcopy {
	font-size:1.1em;
	font-weight: bold;
	position: absolute;
	text-align: center;
	top:31%;
	width:100%;
}
[class*="cubicon--"] {
	background-image:url('../img/cubicon.png');
	border:0px solid #231F20;
	height: 15%;
	left:-5%;
	overflow: hidden;
	position:absolute;
	width:110%;
}
.cubicon--top {
	border-bottom-width:4px;
	top:-8%;
}
.cubicon--bottom {
	border-top-width:4px;
	bottom:-5%;
}

#circle-box-wrap {
	top: 40%;
	position:absolute;
	text-align: center;
	width:100%;
}
.circle-box {
	background-color:#fff;
	border-radius:5px;
	box-shadow:2px 2px 0 #444;
	color:#000;
	cursor:pointer;
	display: inline-block;
	font-weight: bold;
	margin:2px 2px 2px -185px;
	font-size:1rem;
	left:50%;
	top:62%;
	padding:1rem 1.25rem;
	position: absolute;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	width:370px;
}
.circle-box:after {
	content:'';
	border:10px solid transparent;
	border-left-color:#000;
	left:0;
	margin-top: -10px;
	position:absolute;
	top:50%;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.circle-box:hover {
	background-color:#000;
	box-shadow:0 0 0;
	color:#fff;
}
.circle-box:hover:after {
	border-left-color:#fff;
}
.coming-soon {
	background-blend-mode: overlay;
	background-color: rgba(0,0,0,0.5);
	background-image: url('../img/stormy-sea.png');
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	box-shadow:1px 1px 3px #111;
	position: absolute;
	top:48%;
	color: #fff;
	font-size: 2em;
	margin-left:-10%;
	padding: .25em 1em;
	width: 120%;
	text-align: center;
	left: 0;
}
.coming-soon:after {
	content: '';
	border:10px solid transparent;
	border-top-color:#fff;
	bottom:calc(-.25em - 12px);
	left:50%;
	position:absolute;
}
.smoke {
	position:absolute;
}
.smoke--topleft {
	left:-200px;
	top:-200px;
	transform:rotate(-10deg)
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.smoke--topright {
	right:-200px;
	top:-200px;
	-webkit-transform: rotate(220deg);
	-ms-transform: rotate(220deg);
	-o-transform: rotate(220deg);
	transform: rotate(220deg);
}
.smoke--bottomleft {
	bottom:-180px;
	left:-180px;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.smoke--bottomright {
	bottom:-200px;
	right:-200px;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

/* SP */
@media (max-width : 600px) {
	body {
		font-size:.95em;
	}
	#top-back {
		left:-10%;
		width:150%;
	}
	#top-logo {
		margin-left:-50%;
		width:100%;
	}
	#recruit-btn {
		margin-left:-45%;
		width:90%;
	}

	.smoke--topleft,
	.smoke--topright {
		top:-300px;
	}
	.smoke--bottomleft,
	.smoke--topleft {
		left:-300px;
	}
	.smoke--bottomright,
	.smoke--topright {
		right:-300px;
	}
	.smoke--bottomleft,
	.smoke--bottomright {
		bottom:-300px;
	}
}

/* tablet */
@media (max-device-width : 925px) {
}